<!DOCTYPE html>
<html>
    <head>
        <title>Shahram's Developer</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="This is oNly a tutorial about html5 and css3" />
        <meta name="keywords" content="asp,php,net,css,web" />
        <meta name="author" content="Shahram Mebashar" />
        <meta name="robots" content="infrx,follow" />
        <link rel="icon" href="./images/icon.ico" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/assets/css/main.css">

    </head>
    <body>

       

           {{ content }}


    </body>
</html>
